
api/barbearias/obj/Debug/net8.0/jwtRegisterLogin.AssemblyInfo.cs
api/barbearias/obj/Debug/net8.0/jwtRegisterLogin.AssemblyInfoInputs.cache
api/barbearias/obj/Debug/net8.0/jwtRegisterLogin.assets.cache
api/barbearias/obj/Debug/net8.0/jwtRegisterLogin.GeneratedMSBuildEditorConfig.editorconfig
